<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="bootstrap.min.css" rel="stylesheet"/>

</head>
<body>

    <script src="jquery.js"></script>
    <script src="bootstrap.js"></script>
    
    <div class="container">
         <table class="table table-bordered">
    <thead>
      <tr>
        <th>Day</th>
        <th>Month</th>
        <th>year</th>
          <th>Slect class</th>
          <th>Attndance</th>
          
      </tr>
    </thead>
    <tbody>
      <tr>
        
          <td><select>
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
               <option value="11">11</option>
              <option value="12">12</option>
              <option value="13">13</option>
              <option value="14">14</option>
              <option value="15">15</option>
              <option value="16">16</option>
              <option value="17">17</option>
              <option value="18">18</option>
              <option value="19">19</option>
              <option value="20">20</option>
              <option value="21">21</option>
              <option value="22">22</option>
              <option value="23">23</option>
              <option value="24">24</option>
              <option value="25">25</option>
              <option value="26">26</option>
              <option value="27">27</option>
              <option value="28">28</option>
              <option value="29">29</option>
              <option value="30">30</option>

</select></td>
          <td><select>
  <option value="jan">January</option>
  <option value="feb">February</option>
  <option value="march">March</option>
  <option value="april">April</option>
              <option value="May">May</option>
              <option value="June">June</option>
              <option value="July">July</option>
              <option value="aug">August</option>
              <option value="Spt">September</option>
              <option value="oct">October</option>
              <option value="nov">November</option>
              <option value="dec">December</option>
</select></td>
          <td><select>
              <option value="y1">2001</option>
  <option value="y2">2002</option>
  <option value="y3">2003</option>
  <option value="y4">2004</option>
              <option value="y5">2005</option>
              <option value="y6">2006</option>
              <option value="y7">2007</option>
              <option value="y8">2008</option>
              <option value="y9">2009</option>
              <option value="y10">2010</option>
              <option value="y11">2011</option>
              <option value="y12">2012</option>
              <option value="y13">2013</option>
              <option value="y14">2014</option>
              <option value="y15">2015</option>
  
</select></td>
          <td><select>
              
              <option value="saab">1St Year</option>
              <option value="opel">2nd Year</option>
              
  
</select></td>
          <td><div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Manage Attendance</button></div></td>

      </tr>
     
    </tbody>
  </table>
</div>

<div id="demo" class="collapse">
    <div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Attendance Sheet</div>

 
  <table class="table">


      <thead>
          <tr>
            <th>#</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Present/Absents</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
           <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
                            
          </tr>


             <tr>
            <th scope="row">4</th>
            <td>Jacob</td>
            <td>Thornton</td>
           <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
          </tr>

             <tr>
            <th scope="row">4</th>
            <td>Jacob</td>
            <td>Thornton</td>
           <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
          </tr> 
             <tr>
            <th scope="row">4</th>
            <td>Jacob</td>
            <td>Thornton</td>
           <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
          </tr>

             <tr>
            <th scope="row">5</th>
            <td>Jacob</td>
            <td>Thornton</td>
           <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
          </tr>
             <tr>
            <th scope="row">6</th>
            <td>Jacob</td>
            <td>Thornton</td>
           <td><div class="radio">
                              <label><input type="radio" name="optradio"/>Prsent</label>
                                <label><input type="radio" name="optradio"/>Absent</label>
                            </div></td>
          </tr>
        </tbody>


   
  </table>

         
</div>
    </div>
    
        

</body>
</html>
